<header class="site-header">
	<div class="branding">
		{% if site.theme_settings.gravatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="https://secure.gravatar.com/avatar/{{ site.theme_settings.gravatar }}?s=100" alt=""/>
		</a>
		{% elsif site.theme_settings.avatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt=""/>
		</a>
		{% endif %}
		<h1 class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
		</h1>

		<a class="header-about" href="/about">
			<i class="fas fa-address-card"></i>
		</a>

		<a class="header-tags" href="/tags">
			<i class="fas fa-tags"></i>
		</a>
		<nav class="site-nav">
			<ul>
				<!-- Search bar -->
				{% if site.theme_settings.search %}
				<li>
					<form action="{{ site.baseurl }}/search.html" method="get">
						<input type="text" id="search-box" name="query" placeholder="Search" class="">
						<button type="submit" class="">
							<i class="fa fa-fw fa-search"></i>
						</button>
					</form>
				</li>
				{% endif %}
			</ul>
		</nav>
	</div>

	<div class="site-category">
		<ul class='cat1'>
			<li><a href="/">
				<i class="fas fa-home"></i>
			</a></li>

			<li><a href="/">Life</a>
				<ul>
					<li><a href="/Life/Life">Life</a></li>
					<li><a href="/Life/Todo">Todo</a></li>
					<li><a href="/Life/Review">Review</a></li>
				</ul>
			</li>

			<li><a href="/">Programming</a>
				<ul>
					<li><a href="/Programming/Java">Java</a></li>
				</ul>
			</li>

			<li><a href="/">Algorithm</a>
				<ul>
					<li><a href="/Algorithm/Theory">Theory</a></li>
					<li><a href="/Algorithm/BOJ">BOJ</a></li>
					<li><a href="/Algorithm/Programmers">Programmers</a></li>
				</ul>
			</li>

			<li><a href="/">Tool</a>
				<ul>
					<li><a href="/Tool/IntelliJ">Theory</a></li>
				</ul>
			</li>

		</ul>
	</div>

</header>